---
layout: default
homepage: 7
slug: third
navigation: Verification
title: Verification and Fact Checking Standards
description: |
---

While we prepare the english translation of this specific part of our newsroom manual, please refer to the [how we work](https://www.dpa.com/en/company/how-we-work/#from-events-to-news) of our corporate website for a first impression.

Also, dpa has bundled its verification and fact checking efforts under the leadership of Stefan Voß in May 2015 - here is [the press release](http://www.presseportal.de/pm/8218/3632410) (in German).


